<div class="graph-cont">
  <div class="bar bar1">
    <span style="float: right;color: grey;">6/10</span>
    <div style="height: 30px; width: 60%; background-color: #FFB2B2">
      Safety Rate
    </div>
  </div>
  <div class="bar bar1">
    <span style="float: right;color: grey;">7/10</span>
    <div style="height: 30px; width: 70%; background-color: #FFB2B2">
      Price Rate
    </div>
  </div>
  <div class="bar bar1">
    <span style="float: right;color: grey;">10/10</span>
    <div style="height: 30px; width: 100%; background-color: #FFB2B2">
      Delicious Rate
    </div>
  </div>
</div>
