<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div style="background-color: #ededed; padding: 10px ;margin-bottom: 10px;width: 100%; text-align: right;border-bottom: black solid 1px;">
      <span style="float: left;">Write your review: </span>
      <span style="border-left: black black 1px" id="close">close</span>
    </div>
    <% if user_signed_in? %>
      <div class="form-review" style="padding: 10px;">
        <%= render 'form', review: @review %>
      </div>
    <% end %>
  </div>

</div>
