<section class="home review-list">
  <div class="container">
    <div class="row">
      <!-- Left site -->
      <div style="height: 500px; width: 100%;" class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <% if @review.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

            <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
  </div>
</section>
