<section class="search">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside>
          <h2 class="aside-title">Filter</h2>
          <div class="aside-body">
            <form class="checkbox-group">
              <div class="group-title">Date</div>
              <div class="form-group">
                <label><input type="radio" name="date" checked> Anytime</label>
              </div>
              <div class="form-group">
                <label><input type="radio" name="date"> Today</label>
              </div>
              <div class="form-group">
                <label><input type="radio" name="date"> Last Week</label>
              </div>
              <div class="form-group">
                <label><input type="radio" name="date"> Last Month</label>
              </div>
              <br>
              <div class="group-title">Types</div>
              <div class="form-group">
                <label><input type="checkbox" name="category">Stores</label>
              </div>
              <div class="form-group">
                <label><input type="checkbox" name="category">Review Post</label>
              </div>
            </form>
          </div>
        </aside>
      </div>
      <div class="col-md-9">
        <div class="nav-tabs-group">
          <ul class="nav-tabs-list">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
          <div class="nav-tabs-right">
            <select class="form-control">
              <option>Limit</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
            </select>
          </div>
        </div>
        <div class="search-result">
          Search results for keyword "hello" found in 5,200 posts.
        </div>
        <div class="row">
          <article class="col-md-12 article-list">
            <div class="inner">
              <figure>
                <a href="single.html">
                  <img src="images/news/img11.jpg">
                </a>
              </figure>
              <div class="details">
                <div class="detail">
                  <div class="category">
                    <a href="#">Film</a>
                  </div>
                  <time>December 19, 2016</time>
                </div>
                <h1><a href="single.html">Donec consequat arcu at ultrices sodales quam erat aliquet diam</a></h1>
                <p>
                Donec consequat, arcu at ultrices sodales, quam erat aliquet diam, sit amet interdum libero nunc accumsan nisi.
                </p>
                <footer>
                  <a class="btn btn-primary more" href="single.html">
                    <div>More</div>
                    <div><i class="ion-ios-arrow-thin-right"></i></div>
                  </a>
                </footer>
              </div>
            </div>
          </article>

          <div class="col-md-12 text-center">
            <ul class="pagination">
              <li class="prev"><a href="#"><i class="ion-ios-arrow-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">97</a></li>
              <li class="next"><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
            </ul>
            <div class="pagination-help-text">
              Showing 8 results of 776 &mdash; Page 1
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
