
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          COPYRIGHT &copy; nohope. ALL RIGHT RESERVED.
        </div>
      </div>
    </div>
  </div>
</footer>
