<header class="primary">
      <div class="firstbar">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="brand">

              </div>
            </div>

            <!--- Search engine -->
            <%= render "layouts/search" %>
            <%= render "layouts/login" %>
          </div>
        </div>
      </div>

      <!-- Start nav -->
      <%= render "layouts/menu" %>
      <!-- End nav -->
    </header>
