<nav class="menu">
        <div class="container">
          <div class="brand">
            <a href="#">
              <img src="images/logo.png" alt="Magz Logo">
            </a>
          </div>
          <div class="mobile-toggle">
            <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
          </div>
          <div class="mobile-toggle">
            <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
          </div>
          <div id="menu-list">
            <ul class="nav-list">
              <li class="for-tablet nav-title"><a>Menu</a></li>
              <li class="for-tablet"><a href="login.html">Login</a></li>
              <li class="for-tablet"><a href="register.html">Register</a></li>
              <li><a href="category.html">Standard</a></li>
              <li class="dropdown magz-dropdown">
                <a href="category.html">Pages <i class="ion-ios-arrow-right"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="index.html">Home</a></li>
                  <li class="dropdown magz-dropdown">
                    <a href="#">Authentication <i class="ion-ios-arrow-right"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="login.html">Login</a></li>
                      <li><a href="register.html">Register</a></li>
                      <li><a href="forgot.html">Forgot Password</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                  <% if user_signed_in? %>
                    <% if current_user.is_admin %>
                      <li><%= link_to "Admin Page", rails_admin.dashboard_path %></li>
                    <% end %>
                  <% end %>
                </ul>
              </li>

              <% if user_signed_in? %>
                <li class="dropdown magz-dropdown">
                  <a href="#">Account Setting <i class="ion-ios-arrow-right"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to user_path(1) do%>
                        <i class="icon ion-person">
                        </i> My Account
                      <% end %>
                    </li>
                    <li>
                      <%= link_to edit_user_registration_path do %>
                        <i class="icon ion-settings"></i>Settings
                      <% end %>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="icon ion-log-out"></i> Logout
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
