<div class="col-xs-6 col-md-12 sidebar" id="sidebar">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-2">
      <%= form_tag(reviews_path, :method => "get", id: "search-form") do %>
      <!-- text field tag=action,args,identifier,placeholdertext... -->
      <%#= text_field_tag :search, params[:search], placeholder: "namesearch", type: "search", data: {autocomplete: reviews_autocomplete_review_food_name_path} %>
      <input type="text" placeholder="Type food name or restaurant's name" id="searchbar" class="search-query"">
    </div>
    <div class = "col-md-2" >
      <%= submit_tag "Search" ,id: 'search_button_id'%>
    </div>
  </div>
  <%end%>
  <script type="text/javascript" charset="utf-8">
    $('#searchbar').autocomplete({
      source: 'reviews/autocomplete_review_food_name',
      create: function () {
            $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                return $('<li>')
                    .append('<a>' + item.label + '<br>' + item.value + '</a>')
                    .appendTo(ul);
            };
        }
    });
  </script>
</div>
